:root {

    --white: #FFFFFF;
    --black: #212121;
    --green: #3e8e41;
    --header-footer: #D14900;


}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: contents;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Background image*/
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

/*Elements and styles from the Header*/

header {
    background-color: var(--header-footer);
    margin: .5rem;
    padding: 2rem;
}
header .links {
    display: flex;
    justify-content: space-evenly;

}
/* Logo */
.logo-container img{
    max-width: 190px; /* Logo max size */
    height: auto; /* Ajuste automático de altura según el ancho */
}

/* Header's search bar*/
.search-bar {
    width: 250px;
    height: 45px;
    background-color: var(--white);
    border: 2px solid #fff;
    border-radius: .3rem;
    display: flex;
    align-items: center;
}
.search-bar .search {
    width: 100%;
    background-color: var(--white);
    border: none;
    outline: none;
    color: var(--black);
    font-size: 16px;
    padding-left: 10px;
}

/* Search Bar Style*/
.search-bar button {
    width: 40px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.search-bar button i {
    font-size: 21px;

}



/* Navigation Container */
.main-nav {
    background-color: var(--header-footer);
    padding: .5rem;
    margin-left: .6rem;
    margin-right: .6rem;
}
.links {
    display: flex;
    align-items: center;
    
}

.links a {
    position: relative;
    color: var(--white);
    font-weight: 700;
    margin-right: .3rem;
    text-decoration: none;
}
.links a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

.links a:hover:after {
    transform: translateY(0);
    opacity: 1;
}

/* Search bar*/
.search {
    border: none;
    padding: .3rem;
    border-radius: .2rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: var(--white);
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
}


/* Estilos del contenido del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: .5rem;
}


/* Mostrar el menú cuando se hace hover sobre el botón */
.dropdown:hover .dropdown-content {
    display: flex;
}

/* Estilos para las columnas dentro del dropdown */
.column {
    flex: 1;
    padding: 10px;
}

.column a {
    display: block;
    color: black;
    padding: 8px 0;
    text-decoration: none;
}

.column a:hover {
    background-color: #ddd;
}

/* Estilo de las columnas usando flexbox */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.column {
    flex: 1;
    padding: 15px;
}

.column a {
    padding: 8px;
    text-decoration: none;
    display: block;
    font-weight: 200;
}

.column a:hover {
    background-color: #ddd;
}


.page-info {
    background-color: var(--white);
    padding: 3rem;
    margin: 2rem 4rem;
    border-radius: .5rem;
    display: flex;
    text-align: justify;

}

/*Home Earth Animation*/
.earth {
    display: flex;
}



/* Footer and its elements*/

footer {
    background-color: var(--header-footer);
    padding: 1rem;
    display: flex;
}
.social-media {
    margin-right: .5rem;
}
.social-media i {
    font-size: 26px;
}
